body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.header {
    background: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.logo {
    width: 450px;
}
.logoImage {
    width: 450px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 8px;
    margin-right: 32px;
}

.links a {
    color: #e5e7eb;
    padding: 8px;
}
.hero {
    background: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content: center;
}
h1 .hero {
    font-size: 24px;
    color: #f9faf8;
}